
@model IEnumerable<GraduationProject.MVC.Models.ResultViewModel>
@using GraduationProject.MVC.Models;

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="w-100 text-center">Result</h2>

<div class="container container-md-fluid">
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <!--Search Result Item:Start-->
            @foreach (var item in Model)
            {
                @Html.Partial("~/Views/Search/_Search_Result_Item.cshtml", (ResultViewModel)item)
            }
            <!--Search Result Item:End-->

        </div>
    </div>
</div>