:root {
    --primary: #1F4E79;
    --secondary: #FF7700;
}

.nav-border {
    min-height: 70px;
    border-bottom: 2px solid var(--primary);
}

.clr-primary {
    color: var(--primary) !important;
}

.clr-secondary {
    color: var(--secondary) !important;
}

.bg-clr-primary {
    background: var(--primary) !important;
}

.bg-clr-secondary {
    background: var(--secondary) !important;
}

.footer {
    min-height: 60px;
}
